<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin's page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>

    <header>
        <div class="row">
        <!---Top Bar --->
        <div th:insert="topBarForm"/>
        <!--- End Of Top Bar --->
        </div>
    </header>

    <main>
        <div class="row">
            <!--- Left Panel --->
            <div class="col-md-2 py-3 min-vh-100 bg-white">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#userInfoPanel">User</a>
                    </li>
                </ul>
            </div>
            <!--- End of Left Panel --->

            <!--- Right Panel --->
            <div class="col-md-10 py-3 min-vh-100 bg-light">
                <div class="tab-content">
                    <!--- Admin Panel Tab --->
                    <div class="tab-pane fade show active" id="adminPanel">
                        <h2>Admin panel</h2>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" id="allUsersTab" href="#allUsers">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!--- Users Table Tab --->
                            <div class="tab-pane fade show active" id="allUsers">
                                <div class="card">
                                    <h5 class="card-header">All users</h5>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="allUsersTabBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--- End of Users Table Tab --->


                            <!--- New User Tab --->
                            <div class="tab-pane fade" id="newUser">
                                <div class="form-group">
                                    <div class="control-group required">
                                        <div class="card">
                                            <h5 class="card-header">Add new user</h5>
                                            <div class="card-body text-center">
                                                <div class="form justify-content-center mx-auto col-5">
                                                    <form id="newUserForm" name="newUserForm">
                                                        <p>
                                                            <label class="container-fluid" for="newUserFirstName"><strong>First Name</strong>
                                                                <input class="form-control" type="text" name="firstName"
                                                                       id="newUserFirstName"/>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <label class="container-fluid" for="newUserLastName"><strong>Last name</strong>
                                                                <input class="form-control" type="text" name="lastName"
                                                                       id="newUserLastName"/>
                                                            </label>
                                                        </p>

                                                        <p>
                                                            <label class="container-fluid"
                                                                   for="newUserAge"><strong>Age</strong>
                                                                <input class="form-control" type="number" name="age"
                                                                       id="newUserAge"/>
                                                            </label>
                                                        </p>

                                                        <p>
                                                            <label class="container-fluid"
                                                                   for="newUserEmail"><strong>Email</strong>
                                                                <input class="form-control" type="email" name="username"
                                                                       id="newUserEmail"/>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <label class="container-fluid" for="newUserPassword"><strong>Password</strong>
                                                                <input class="form-control" type="password" name="password" required minlength="3"
                                                                       id="newUserPassword"/>
                                                            </label>
                                                        </p>
                                                        <label class="container-fluid"
                                                               for="newUserRoles"><strong>Role</strong>
                                                            <select id="newUserRoles" class="form-control" name="roles"
                                                                    multiple size="2">

                                                            </select>
                                                        </label>
                                                        <button type="submit" id="newUserButton" class="btn btn-success">Add
                                                            new user
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--- End Of New User Tab --->
                        </div>
                    </div>
                    <!--- End Of Admin Panel Tab --->
                    <!--- User Info Tab --->
                    <div class="tab-pane fade" id="userInfoPanel">
                        <h2>User information-page</h2>
                        <div class="card">
                            <h5 class="card-header">About user</h5>
                            <div class="card-body text-center">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userInfoPanelBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--- End of User Into Tab -->
                </div>
            </div>
            <!--- End of Right Panel --->
        </div>
    </main>


    <!-- Edit User Form -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="editUserForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls">
                                <p>
                                    <label for="editId"><strong>ID</strong>
                                        <input class="form-control" type="number" name="id" id="editId" disabled/>
                                    </label>
                                </p>
                                <p>
                                    <label for="editFirstName"><strong>First name</strong>
                                        <input class="form-control" type="text" name="firstName" id="editFirstName" />
                                    </label>
                                </p>
                                <p>
                                    <label for="editLastName"><strong>Last name</strong>
                                        <input class="form-control" type="text" name="lastName" id="editLastName" />
                                    </label>
                                </p>

                                <p>
                                    <label for="editAge"><strong>Age</strong>
                                        <input class="form-control" type="number" name="age" id="editAge" />
                                    </label>
                                </p>

                                <p>
                                    <label for="editEmail"><strong>Email</strong>
                                        <input class="form-control" type="email" name="username" id="editEmail" />
                                    </label>
                                </p>
                                <p>
                                    <label for="editPassword"><strong>Password</strong>
                                        <input class="form-control" type="password" name="password" id="editPassword" required minlength="3" />
                                    </label>
                                </p>
                                <label class="container-fluid col-6" for="editRoles"><strong>Role</strong>
                                    <select class="form-control" id="editRoles" name="roles" multiple size="2">

                                    </select>
                                </label>
                                <h1></h1>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="closeButtonEditForm" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Of Edit User Form -->

    <!-- Delete User Form -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="deleteUserForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls">
                                <p>
                                    <label for="deleteId"><strong>ID</strong>
                                        <input class="form-control" type="number" name="id" id="deleteId" disabled>
                                    </label>
                                </p>
                                <p>
                                    <label for="deleteFirstName"><strong>First name</strong>
                                        <input class="form-control" type="text" name="firstName" id="deleteFirstName" disabled>
                                    </label>
                                </p>
                                <p>
                                    <label for="deleteLastName"><strong>Last name</strong>
                                        <input class="form-control" type="text" name="lastName" id="deleteLastName" disabled>
                                    </label>
                                </p>

                                <p>
                                    <label for="deleteAge"><strong>Age</strong>
                                        <input class="form-control" type="text" name="age" id="deleteAge" disabled>
                                    </label>
                                </p>

                                <p>
                                    <label for="deleteEmail"><strong>Email</strong>
                                        <input class="form-control" type="email" name="username" id="deleteEmail" disabled>
                                    </label>
                                </p>
                                <label class="container-fluid col-6" for="deleteRoles"><strong>Role</strong>
                                    <select class="form-control" id="deleteRoles" name="roles" multiple size="2" disabled>

                                    </select>
                                </label>
                                <h1></h1>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="closeButtonDeleteForm" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Of Delete User Form -->

    <!--- Bootstrap --->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>

    <!--- JavaScript --->
    <script type="text/javascript" src="/userInfo.js"></script>
    <script type="text/javascript" src="/allUsers.js"></script>
    <script type="text/javascript" src="/addUser.js"></script>
    <script type="text/javascript" src="/deleteModal.js"></script>
    <script type="text/javascript" src="/deleteUser.js"></script>
    <script type="text/javascript" src="/editModal.js"></script>
    <script type="text/javascript" src="/editUser.js"></script>


</body>
</html>